<!DOCTYPE html>
<html>

<head>
<title>HackCMU S24</title>
</head>

<body style="background-color:royalblue; color:antiquewhite">
    <h1>Flask Demo</h1>
    <p> Welcome to this sample webpage for our Flask demo. Here are some reasons
        why you should use Flask: </p>
    <ol>
        <li>It's super cool</li>
        <li>Vishant likes webpages</li>
        <li>It makes web development much easier than using sockets</li>
        <li>Proxylab was the best 213 lab (said no one ever)</li>
        <li>I don't have an actual reason to put here</li>
    </ol>
    <p> I am now going to place a list of bullet points beneath this text.</p>
    <ul>
        <li>122 should be pronounced "one twenty-two"</li>
        <li>Shoutout to the Hack112 planning team, especially Avi Arya</li>
        <li>Vishant is so cool for making this website</li>
        <li>Hopefully, you can tell I don't know anything about web development</li>
    </ul>
    <p> Here is a very nice image: </p>
    <p><img src="https://www.cs.cmu.edu/~112/images/112-dragon.png" alt="112 Dragon Picture"></p>
    <p> Here's a link to the 15-112 <a href="https://www.cs.cmu.edu/~112/index.html">website</a>.
        Also, I have decided to place a horizontal line beneath this text. </p>
    <hr>
    <p>
        Here is Avi's favorite quote:
        <i>"The shortest distance between two human hearts is always a good
            story, you tell a good story and you win a heart for life."
        </i>
    </p>
</body>

</html>